<div class="login_container ">
<h1>Editing documentation</h1>

<%= render 'form' %>

<%= link_to 'Show', @documentation ,:class => "btn btn-mini"%> |
<%= link_to 'Back', documentations_path,:class => "btn btn-mini" %>
</div>