<div class="row-fluid text-color-grey margin-top-10 margin-bottom-10">
  Here are the list of Facebook Friends.
</div>

<% facebook_friends.each_slice(3).each do |friends_slice| %>
  <div class="row-fluid margin-top-5">
    <% friends_slice.each do|friend| %>
      <% verify_existing_user = Authentication.where(:uid => friend['id']) %>
      <% unless verify_existing_user.present? %>
        <div class="span4">
          <%= render :partial=>"friends/facebook_user", :locals=> {:friend => friend} %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>