<label class="select-all-label checkbox inline btn btn-mini pull-right font-size-14">
  Select all
</label>
<div class="cl"></div>

<% users.each_slice(3) do|users_slice| %>
  <div class="row-fluid margin-top-5">
    <% users_slice.each do|user| %>
      <div class="span4">
        <%= render :partial=>"friends/rvidi_user", :locals=>{:user=>user} %>
      </div>
    <% end %>
  </div>
<% end %>
