
<!-- player container and a splash image (play button) -->
<div class="row-fluid">
  <div class="span7" style="width: 500px; height:350px;">
    <a class="player plain" id="player2">
      <img src="/assets/flowplayer_playlist/play_text_large.png" class="button" alt="" />
    </a>
  </div>

  <div class="span4">
    <div class="clips petrol">
      <!-- single playlist entry -->
      <% show.cameos.each_with_index do |cameo, index| %>
        <a href="<%= "#{configatron.site_address_full}/assets/video_#{index + 1}.flv" %>"
           class="first pl-entry">
          <%= cameo.title %>
          <span>HTTP streaming</span>
          <em>0:20 min</em>
        </a>
      <% end %>
    </div>
  </div>

</div>

<!-- configure entries inside playlist using standard HTML -->


<% content_for :js_with_script_tags do %>
  <script type="text/javascript">
    $(function() {
      // set up player without "internal" playlists
      $f("player2", "http://releases.flowplayer.org/swf/flowplayer-3.2.16.swf", {
        clip: {baseUrl: "<%= root_url %>" }


        // use playlist plugin. again loop is true
      }).playlist("div.petrol", {loop:true});
    });
  </script>
<% end %>
