
<!-- player container and a splash image (play button) -->
<div class="row-fluid">
  <div class="span7" style="width:556px; height:313px;">
    <a class="player plain" id="player2">
      <img src="<%= show.first_cameo_thumb %>" class="button" alt=""
           style="width: 192px; height: 82px;margin-left: 37%;margin-top: 14%;" />
    </a>
  </div>

  <div class="span4">
    <div class="clips petrol">
      <!-- single playlist entry -->
      <% show.cameos.each_with_index do |cameo, index| %>
        <a href="<%= cameo.rtmp_streaming_url %>"
           class="first pl-entry">
          <%= cameo.title %>
          <!--<span>HTTP streaming</span>
          <em>0:20 min</em> -->
        </a>
      <% end %>
    </div>
  </div>

</div>

<!-- configure entries inside playlist using standard HTML -->


<% content_for :js_with_script_tags do %>
  <script type="text/javascript">
   wowzaStreamingServerPlaylist();
  </script>
<% end %>
