<div class="span3">
  <div id="slider-range" style="margin-left: 34px; margin-top: 8px;"
       title="Video Clipper">
  </div>
  <div id="slider-range-value" style="margin-left: 34px; margin-top: 5px;">
    <%#= "0 to #{cameo.duration} (Seconds)" %>
  </div>
</div>

