<div class="login_container">
  <div class="row-fluid">
    <div class="span6">
      <div class="login_title">Terms and Conditiosns</div>
      <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
      <br>
      <br>
      <div class="span4 text_align_center"> </div>
    </div>
  </div>
</div>  