<div class="login_container" style:"font-family:Helvetica Neue:Helvetica:Arial: sans-serif;">
	<div class="row-fluid">
		<div class="span11">
			<div class="login_title">Terms and Conditiosns</div>
			 <div class="getting_started_text">  rVidi - Terms of Use</div>
				<div class="getting_started_text">
					THE FOLKS BEHIND rVIDI ARE TV/FILM/INTERNET CONTENT PRODUCERS…. AND BIG DREAMERS.  IT MIGHT BE A LONG SHOT, BUT THEY THINK THIS VIDEO PLATFORM MIGHT TURN INTO SOMETHING INCREDIBLY USEFUL AND IMPORTANT TO NONPROFITS, BUSINESSES, COMMUNITY GROUPS, STUDENTS, NEWS ORGANIZATIONS AND INDIVIDUALS. BECAUSE OF THAT POSSIBILITY, rVIDI INCLUDES THE FOLLOWING TERMS OF USE.
				</div>
				<div class="getting_started_text">
					PLEASE READ THESE TERMS OF USE (“AGREEMENT” OR “TERMS OF USE” OR "TERMS OF SERVICE") CAREFULLY BEFORE USING THE SERVICES OFFERED BY rVIDI INC. THIS AGREEMENT SETS FORTH THE LEGALLY BINDING TERMS AND CONDITIONS FOR YOUR USE OF THE WEBSITE AT HTTP://rVIDI.COM (THE “SITE”) AND THE SERVICE OWNED AND OPERATED BY COMPANY (COLLECTIVELY WITH THE SITE, THE “SERVICE”). BY USING THE SITE OR SERVICE IN ANY MANNER, INCLUDING BUT NOT LIMITED TO VISITING OR BROWSING THE SITE, YOU AGREE TO BE BOUND BY THIS AGREEMENT. THIS AGREEMENT APPLIES TO ALL USERS OF THE SITE OR SERVICE, INCLUDING USERS WHO ARE ALSO CONTRIBUTORS OF CONTENT, INFORMATION, AND OTHER MATERIALS OR SERVICES ON THE SITE.
				</div>
				<div class="getting_started_text">
					<b>Acceptance of Terms. </b>
				</div>
				<div class="getting_started_text">
					The Service is offered subject to acceptance without modification of all of the terms and conditions contained herein (the “Terms of Use”), which terms also incorporate Company’s Privacy Policy available at http:///www.rvidi.com/privacy and all other operating rules, policies and procedures that may be published from time to time on the Site by Company, each of which is incorporated by reference and each of which may be updated by Company from time to time without notice to you. In addition, some services offered through the Service may be subject to additional terms and conditions promulgated by Company from time to time; your use of such services is subject to those additional terms and conditions, which are incorporated into these Terms of Use by this reference.
				</div>
				<div class="getting_started_text">
					The Service is available only to individuals who are at least 14 years old and have a parent or 	guardian's permission.  You represent and warrant that if you are an individual, you are of legal age to form a binding contract, and that all registration information you submit is accurate and truthful. Company may, in its sole discretion, refuse to offer the Service to any person or entity and change its eligibility criteria at any time. This provision is void where prohibited by law and the right to access the Service is revoked in such jurisdictions.
				</div>
				<div class="getting_started_text">
					<b>Modification of Terms of Use.</b>
				</div>
				<div class="getting_started_text">
					Company reserves the right, at its sole discretion, to modify or replace any of the Terms of Use, or change, suspend, or discontinue the Service (including without limitation, the availability of any feature, database, or content) at any time by posting a notice on the Site or by sending you an email. Company may also impose limits on certain features and services or restrict your access to parts or all of the Service without notice or liability. It is your responsibility to check the Terms of Use periodically for changes. Your continued use of the Service following the posting of any changes to the Terms of Use constitutes acceptance of those changes.
				</div>
				<div class="getting_started_text">
					<b>Rules and Conduct.</b>
				</div>
				<div class="getting_started_text">
					As a condition of use, you promise not to use the Service for any purpose that is prohibited by the Terms of Use. For purposes of the Terms of Use, the term “Content” includes, without limitation, any User Submissions, videos, audio clips, written forum comments, information, data, text, photographs, software, scripts, graphics, and interactive features generated, provided, or otherwise made accessible by Company or its partners on or through the Service.
				</div>
				<div class="getting_started_text">
					By way of example, and not as a limitation, you shall not (and shall not permit any third party to) either (a) take any action or (b) upload, download, post, submit or otherwise distribute or facilitate distribution of any Content on or through the Service, including without limitation any User Submission, that:
					infringes any patent, trademark, trade secret, copyright, right of publicity or other right of any other person or entity or violates any law or contractual duty;
					you know is false, misleading, untruthful or inaccurate;
					is unlawful, threatening, abusive, harassing, defamatory, libelous, deceptive, fraudulent, invasive of another's privacy, tortious, obscene, offensive, or profane;
					constitutes unauthorized or unsolicited advertising, junk or bulk e-mail ("spamming");
					contains software viruses or any other computer codes, files, or programs that are designed or 	intended to disrupt, damage, limit or interfere with the proper function of any software, hardware, or telecommunications equipment or to damage or obtain unauthorized access to any system, data, password or other information of Company or any third party; or
					impersonates any person or entity, including any employee or representative of Company.
					Additionally, you shall not: (i) take any action that imposes or may impose (as determined by Company in its sole discretion) an unreasonable or disproportionately large load on Company’s (or its third party providers’) infrastructure; (ii) interfere or attempt to interfere with the proper working of the Service or any activities conducted on the Service; (iii) bypass any measures Company may use to prevent or restrict access to the Service (or other accounts, computer systems or networks connected to the Service); (iv) run Maillist, Listserv, any form of auto-responder or “spam” on the Service; or (v) use manual or automated software, devices, or other processes to “crawl” or “spider” any page of the Site.
				</div>
				<div class="getting_started_text">
					You shall not (directly or indirectly): (i) decipher, decompile, disassemble, reverse engineer or otherwise attempt to derive any source code or underlying ideas or algorithms of any part of the Service, except to the limited extent applicable laws specifically prohibit such restriction, (ii) modify, translate, or otherwise create derivative works of any part of the Service, or (iii) copy, rent, lease, distribute, or otherwise transfer any of the rights that you receive hereunder. You shall abide by all applicable local, state, national and international laws and regulations.
				</div>
				<div class="getting_started_text">
					Company does not guarantee that any Content or User Submissions (as defined below) will be made available on the Site or through the Service. Company has no obligation to monitor the Site, Service, Content, or User Submissions. However, Company reserves the right to (i) remove, edit or modify any Content in its sole discretion, including without limitation any User Submissions, from the Site or Service at any time, without notice to you and for any reason (including, but not limited to, upon receipt of claims or allegations from third parties or authorities relating to such Content or if Company is concerned that you may have violated the Terms of Use), or for no reason at all and (ii) to remove or block any User Submissions from the Service.
				</div>
				<div class="getting_started_text">
					<b>Registration.</b>
				</div>
				<div class="getting_started_text">
					You may browse the Site and view Content without registering, but as a condition to using certain aspects of the Service, you may be required to register with Company and select a password and screen name (“User ID”). You shall provide Company with accurate, complete, and updated registration information. Failure to do so shall constitute a breach of the Terms of Use, which may result in immediate termination of your Company account. You shall not (i) select or use as a User ID a name of another person with the intent to impersonate that person; (ii) use as a User ID a name subject to any rights of a person other than you without appropriate authorization; or (iii) use as a User ID a name that is otherwise offensive, vulgar or obscene. Company reserves the right to refuse registration of, or cancel a User ID in its sole discretion. You are solely responsible for activity that occurs on your account and shall be responsible for maintaining the confidentiality of your Company password. You shall never use another user’s account without such other user’s express permission. You will immediately notify Company in writing of any unauthorized use of your account, or other account related security breach of which you are aware.
				</div>
				<div class="getting_started_text">
					<b>Fees and Payment.</b>
				</div>
				<div class="getting_started_text">
					Company reserves the right to require payment of fees for certain features of the Service. Should you elect to subscribe to such features, you shall pay all applicable fees, as described on the Site in connection with such features. Company reserves the right to change its price list and to institute new charges at any time, upon ten (10) days prior notice to you, which may be sent by email or posted on the Site. Use of the Service by you following such notification constitutes your acceptance of any new or increased charges.
				</div>
				<div class="getting_started_text">
					<b>Third Party Sites.</b>
				</div>
				<div class="getting_started_text">
					The Service may permit you to link to other websites or resources on the Internet, and other websites or resources may contain links to the Site. When you access third party websites, you do so at your own risk. These other websites are not under Company's control, and you acknowledge that Company is not responsible or liable for the content, functions, accuracy, legality, appropriateness or any other aspect of such websites or resources. The inclusion of any such link does not imply endorsement by Company or any association with its operators. You further acknowledge and agree that Company shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of or reliance on any such Content, goods or services available on or through any such website or resource.
				</div>
				<div class="getting_started_text">
					<b>Content and License.</b>
				</div>
				<div class="getting_started_text">
					You agree that the Service contains Content specifically provided by Company or its partners and that such Content is protected by copyrights, trademarks, service marks, patents, trade secrets or other proprietary rights and laws. You shall abide by and maintain all copyright notices, information, and restrictions contained in any Content accessed through the Service.
				</div>
				<div class="getting_started_text">
					Company grants each user of the Site and/or Service a worldwide, non-exclusive, non-sublicensable and non-transferable license to use, modify and reproduce the Content, solely for personal, non-commercial use. Use, reproduction, modification, distribution or storage of any Content for other than personal, non-commercial use is expressly prohibited without prior written permission from Company, or from the copyright holder identified in such Content's copyright notice. You shall not sell, license, rent, or otherwise use or exploit any Content for commercial use or in any way that violates any third party right.
				</div>
				<div class="getting_started_text">
					<b>User Submissions.</b>
				</div>
				<div class="getting_started_text">
					The Service provides you now or eventually with the ability to add, create, upload, submit, distribute or post (“Submitting” or “Submission”) content, videos, audio clips, written forum comments, data, text, photographs, software, scripts, graphics, or other information to the Site (collectively, the “User Submissions”). By Submitting User Submissions on the Site or otherwise through the Service, you:
					acknowledge that you are publishing that User Submission, and that you may be identified publicly by your User ID in association with any such User Submission;
					hereby do and shall grant Company a worldwide, non-exclusive, perpetual, irrevocable, royalty-free, fully paid, sublicensable and transferable license to use, edit, modify, reproduce, distribute, prepare derivative works of, display, perform, and otherwise fully exploit the User Submissions in connection with the Site, the Service and Company’s (and its successors and assigns’) business, including without limitation for promoting and redistributing part or all of the Site (and derivative works thereof) or the Service in any media formats and through any media channels (including, without limitation, third party websites). 
					represent and warrant, and can demonstrate to Company’s full satisfaction upon request that you (i) own or otherwise control all rights to all content in your User Submissions, or that the content in such User Submissions is in the public domain, (ii) you have full authority to act on behalf of any and all owners of any right, title or interest in and to any content in your User Submissions to use such content as contemplated by these Terms of Use and to grant the license rights set forth above, (iii) you have the permission to use the name and likeness of each identifiable individual person and to use such individual’s identifying or personal information as contemplated by these Terms of Use; and (iv) you are authorized to grant all of the aforementioned rights to the User Submissions to Company and all users of the Service;
					agree to pay all royalties and other amounts owed to any person or entity due to your Submission of any User Submissions to the Service;
					represent and warrant that the use or other exploitation of such User Submissions by Company and use or other exploitation by users of the Site and Service as contemplated by this Agreement will not infringe or violate the rights of any third party, including without limitation any privacy rights, publicity rights, copyrights, contract rights, or any other intellectual property or proprietary rights; and
					understand that Company shall have the right to delete, edit, modify, reformat, excerpt, or translate any materials, content or information submitted by you; and that all information publicly posted or privately transmitted through the Site is the sole responsibility of the person from which such content originated and that Company will not be liable for any errors or omissions in any content; and that Company cannot guarantee the identity of any other users with whom you may interact in the course of using the Service.
				</div>
				<div class="getting_started_text">
					Company does not endorse and has no control over any User Submission. Company cannot guarantee the authenticity of any data which users may provide about themselves. You acknowledge that all Content accessed by you using the Service is at your own risk and you will be solely responsible for any damage or loss to any party resulting therefrom.
				</div>
				<div class="getting_started_text">
					<b>Termination.</b>
				</div>
				<div class="getting_started_text">
					Company may terminate your access to all or any part of the Service at any time, with or without cause, with or without notice, effective immediately, which may result in the forfeiture and destruction of all information associated with your membership. If you wish to terminate your account, you may do so by following the instructions on the Site. Any fees paid hereunder are non-refundable. All provisions of the Terms of Use which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.
				</div>
				<div class="getting_started_text">
					<b>Warranty Disclaimer.</b>
				</div>
				<div class="getting_started_text">
					Company has no special relationship with or fiduciary duty to you. You acknowledge that Company has no control over, and no duty to take any action regarding: which users gains access to the Site; what Content you access via the Site; what effects the Content may have on you; how you may interpret or use the Content; or what actions you may take as a result of having been exposed to the Content. You release Company from all liability for you having acquired or not acquired Content through the Site. The Site may contain, or direct you to websites containing, information that some people may find offensive or inappropriate. Company makes no representations concerning any Content contained in or accessed through the Site, and Company will not be responsible or liable for the accuracy, copyright compliance, legality or decency of material contained in or accessed through the Site or the Service.
				</div>
				<div class="getting_started_text">
					THE SERVICE IS PROVIDED "AS IS" AND "AS AVAILABLE” AND IS WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE, AND ANY WARRANTIES IMPLIED BY ANY COURSE OF PERFORMANCE OR USAGE OF TRADE, ALL OF WHICH ARE EXPRESSLY DISCLAIMED. COMPANY, AND ITS DIRECTORS, EMPLOYEES, AGENTS, SUPPLIERS, PARTNERS AND CONTENT PROVIDERS DO NOT WARRANT THAT: (A) THE SERVICE WILL BE SECURE OR AVAILABLE AT ANY PARTICULAR TIME OR LOCATION; (B) ANY DEFECTS OR ERRORS WILL BE CORRECTED; (C) ANY CONTENT OR SOFTWARE AVAILABLE AT OR THROUGH THE SERVICE IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS; OR (D) THE RESULTS OF USING THE SERVICE WILL MEET YOUR REQUIREMENTS. YOUR USE OF THE SERVICE IS SOLELY AT YOUR OWN RISK.
				</div>
				<div class="getting_started_text">
					SOME STATES DO NOT ALLOW LIMITATIONS ON HOW LONG AN IMPLIED WARRANTY LASTS, SO THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.
				</div>
				<div class="getting_started_text">
					ELECTRONIC COMMUNICATIONS PRIVACY ACT NOTICE (18USC 2701-2711): COMPANY MAKES NO GUARANTY OF 	CONFIDENTIALITY OR PRIVACY OF ANY COMMUNICATION OR INFORMATION TRANSMITTED ON THE SITE OR ANY WEBSITE LINKED TO THE SITE.
				</div>
				<div class="getting_started_text">
					Company will not be liable for the privacy of email addresses, registration and identification information, disk space, communications, confidential or trade-secret information, or any other Content stored on Company’s equipment, transmitted over networks accessed by the Site, or otherwise connected with your use of the Service.
				</div>
				<div class="getting_started_text">
					<b>Indemnification.</b>
				</div>
				<div class="getting_started_text">
					You shall defend, indemnify, and hold harmless Company, its affiliates and each of its, and its affiliates employees, contractors, directors, suppliers and representatives from all liabilities, claims, and expenses, including reasonable attorneys' fees, that arise from or relate to your use or misuse of, or access to, the Site, Service, Content or otherwise from your User Submissions, violation of the Terms of Use, or infringement by you, or any third party using the your account, of any intellectual property or other right of any person or entity. Company reserves the right to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in which event you will assist and cooperate with Company in asserting any available defenses.
				</div>
				<div class="getting_started_text">
					<b>Limitation of Liability.</b>
				</div>
				<div class="getting_started_text">
					IN NO EVENT SHALL COMPANY, NOR ITS DIRECTORS, EMPLOYEES, AGENTS, PARTNERS, SUPPLIERS OR CONTENT 	PROVIDERS, BE LIABLE UNDER CONTRACT, TORT, STRICT LIABILITY, NEGLIGENCE OR ANY OTHER LEGAL OR EQUITABLE THEORY WITH RESPECT TO THE SERVICE (I) FOR ANY LOST PROFITS, DATA LOSS, COST OF PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES, OR SPECIAL, INDIRECT, INCIDENTAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES OF ANY KIND WHATSOEVER, SUBSTITUTE GOODS OR SERVICES (HOWEVER ARISING), (II) FOR ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE (REGARDLESS OF THE SOURCE OF ORIGINATION), OR (III) FOR ANY DIRECT DAMAGES IN EXCESS OF (IN THE AGGREGATE) ONE-HUNDRED U.S. DOLLARS ($100.00). SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATIONS AND EXCLUSIONS MAY NOT APPLY TO YOU.
			</div>
			</p>
				<br>
				<br>
				<div class="span4 text_align_center"> </div>
			</div>
		</div>
	</div>  

	<div class="buttons_height">
    <div class=" hr_bg" >
      <div class="text_align_center login_and_account">
          <%= link_to "Go Back", root_url, :class => "btn  btn-warning ", :style=>"margin-top:7px;"%>
      </div>
    </div>
  </div>