<div class="login_container">
    <div class="">
      <h3 id="myModalLabel">This Show is Private and you are not invited to contribute this Show yet</h3>
    </div>
  </div>
  <div class="hr_bg_welcome" style="">
    <div class="text_align_center add_cameo_btn">
      <%= link_to "Go Back", root_url, :class => "btn btn-info", :style => "margin-top:8px;" %>
    </div>
  </div>