<body>
    <h1>Welcome to rVidi.com</h1>
    <p>
      You are invited to rVidi by <%= @user_invited.username %>,
    </p>
    <p>
      To register to the site, just follow this link: <%= link_to "#{@url}/users/new?from_id=#{@user_invited.id}" %>.
    </p>
  </body>