<body>
    <h1>Welcome to rVidi.com, <%= @user.full_name %></h1>
    <p>
      You are invited to rVidi,
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>