<body>
  <h1>Welcome to rVidi.com</h1>
  <p>
    You are invited to rVidi by <%= @user.username %>,
  </p>
  <p>
    To register to the site, just follow this link: 
    <%= link_to  "Click here", "http://#{configatron.site_address}/users/new?from_id=#{@user.id}&show_id=#{show_id}"%>.
  </p>
</body>


 