development:
  host: localhost
  folder: /Library/WowzaMediaServer/content/rvidi
  protocol: rtmp
  application: rvidi
  port: 1935
  username: root

test:
  host: localhost
  folder: /Library/WowzaMediaServer/content/rvidi

staging:
  host: 10.128.27.212
  folder: /usr/local/WowzaMediaServer/content/rvidi
  protocol: rtmp
  application: rvidi
  port: 1935
  username: deploy

demo:

production:
  host: server???
  folder: folder????

