<div class="white-transparent-box accordion" id="accordion2">
  <div class="accordion-group plus-minus-container">
    <div class="accordion-heading">
      
      <div class="accordion-toggle changeable-plus-minus" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        
        <!-- Heading -->
        <%= content_tag :h2, "Edit Contributors", :class=>"pull-left" %>
        
        <!-- Toggle Icon -->
        <i class="sprite-minus-small plus-minus-i pull-right margin-top-10"> </i>
        
        <div class="cl"></div>
        
      </div>
    </div>
    
    <!-- Manage Cameo -->
    <%= render :partial => "shows/player/manage_cameos", :locals => {  } %>
    
  </div>
  <% @contribution_percentage = @contribution_percentage.present? ? @contribution_percentage : 0%>
  <div class="span2"> 
    <div class="progress progress-striped">
      <div class="bar" style="width:<%= @contribution_percentage %>%;"></div>
    </div>
  </div>
  <div class="span1 font_weight_bold"><%= @contribution_percentage.round(2)%>%</div>

</div>