<% thumbnail = friend['picture']['data']['url']  %>

<div class="friend-box row-fluid">
  
  <div class="span4">
    <div style="width:80px;height:80px;background-color:#c1c1c1;" class="friend_image">
      <%= image_tag thumbnail, :class => "details_image_sizesmall" %>
    </div>
  </div>
  
  <div class="span8">
    
    <!-- Full Name of the Friend -->
    <%= content_tag :span, friend['name'], :class=>"font-size-14 bold text-color-blue" %> 
    
    <!-- City -->
    <%= content_tag :div, friend['city'],
                     :class=> "text-color-red font-size-12" if friend['city'] && !friend['city'].blank? %>
    
    <div class="cl-10"></div>
    
    <!-- Button to invite facebook friend -->
    <%= link_to "Invite", "#", 
                :class => 'button-facebook-friend-invite btn btn-warning btn-mini',
                :id => friend['id'] %>
    
  </div>
  
</div>