<div class="padding-10 margin-bottom-10">
  <%= content_tag :span, comment.body, :class=>"font-size-14 text-color-grey italic" %>
  <div class="cl-5"></div>
  <%= content_tag :span, comment.user.full_name, :class=>"font-size-12 text-color-light-grey pull-left" %>
  <%= content_tag :span, comment.created_at.strftime("%m/%d/%Y"), :class=>"font-size-12 text-color-light-grey pull-right" %>
  <div class="cl"></div>
</div>