<% if all_comments.present? %>
  <% show_comments.each do|comment| %>
    <%= render :partial=>"web/comments/comment", :locals=>{:comment=>comment} %>
  <% end %>
  
  <% if (show_comments.count != all_comments.count) %>
    <div class="span font_weight_bold">
      <%= link_to "View all #{all_comments.count} comments",
                  show_all_web_comments_path(:show_id => show.id), :remote => true  %>
    </div>
  <% end %>
  
<% else %>
  <div class='margin-bottom-3 width-343'>
    <p class='comment-padding'>No comments Added for this Show.</p>
    <div class='clear-both'></div>
  </div>
<% end %>
