
body {
    color: #5A5A5A;
  /*  padding-bottom: 40px; */
}
.navbar-wrapper {
    left: 0;
    margin-bottom: -90px;
    margin-top: 20px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
}
.navbar-wrapper .navbar {
}
.navbar .navbar-inner {
    border: 0 none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}
.navbar .brand {
    font-size: 16px;
    font-weight: bold;
    padding: 14px 20px 16px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}
.navbar .nav > li > a {
    padding: 15px 20px;
}
.navbar .btn-navbar {
    margin-top: 10px;
}
.carousel {
    margin-bottom: 60px;
}
.carousel .container {
    position: relative;
    z-index: 9;
}
.carousel-control {
    background-color: transparent;
    border: 0 none;
    font-size: 120px;
    height: 80px;
    margin-top: 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    z-index: 10;
}
.carousel .item {
    height: 500px;
}
.carousel img {
    height: 500px;
    left: 0;
 /*   min-width: 100%; */
    position: absolute;
    top: 0;
}
.carousel-caption {
    background-color: transparent;
    margin-top: 200px;
    max-width: 800px;
    padding: 0 20px;
    position: static;
}
.carousel-caption h1, .carousel-caption .lead {
    color: #FFFFFF;
    line-height: 1.25;
    margin: 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
.carousel-caption .btn {
    margin-top: 10px;
}
.marketing .span4 {
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .span4 p {
    margin-left: 10px;
    margin-right: 10px;
}
.featurette-divider {
    margin: 80px 0;
}
.featurette {
    overflow: hidden;
    padding-top: 120px;
}
.featurette-image {
    margin-top: -120px;
}
.featurette-image.pull-left {
    margin-right: 40px;
}
.featurette-image.pull-right {
    margin-left: 40px;
}
.featurette-heading {
    font-size: 50px;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 1;
}
.container.navbar-wrapper {
    margin-bottom: 0;
    width: auto;
}
.navbar-inner {
    border-radius: 0 0 0 0;
    margin: -20px 0;
}
.carousel .item {
    height: 500px;
}
.carousel img {
    height: 500px;
    width: 390px;
}
.featurette {
    height: auto;
    padding: 0;
}
.featurette-image.pull-left, .featurette-image.pull-right {
    display: block;
    float: none;
    margin: 0 auto 20px;
    max-width: 40%;
}
.navbar-inner {
    margin: -20px;
}
.carousel {
    margin-left: 0px;
    margin-right:0px;
}
.carousel .container {
}
.carousel .item {
    height: 300px;
}
.carousel img {
    height: 300px;
}
.carousel-caption {
    margin-top: 0px;
    padding: 0 70px;
    width: 85%;
    color:#ffffff;
}
.carousel-caption h1 {
    font-size: 30px;
}
.carousel-caption .lead, .carousel-caption .btn {
    font-size: 18px;
}
.marketing .span4 + .span4 {
    margin-top: 40px;
}
.featurette-heading {
    font-size: 30px;
}
.featurette .lead {
    font-size: 18px;
    line-height: 1.5;
}
