/* Styels Added by Developers Comes here. */
.error-message {
  margin: 0px;
  font-size: 12px;
  font-weight: normal;
  color: #FF0000;
  text-align: left;
  float: left; 
  clear: both;
}

/* Hint to resize / style the recaptcha Image  */
/*.recaptcha-div #recaptcha_widget_div { width: 250px; overflow:hidden; }
.recaptcha-div #recaptcha_image img  { width: 250px; }*/

/* To remove the privacy conditions */
.recaptcha_only_if_privacy 
{
  float: right;
  text-align: right;
  display: none;
}
.active-cameo{ background-color: #6d6e72; }
.active-cameo a, .active-cameo a:hover{ color:#ffffff; }