/* Styels Added by Developers Comes here. */
.error-message {
  margin: 0px;
  font-size: 12px;
  font-weight: normal;
  color: #FF0000;
  text-align: left;
  float: left; 
  clear: both;
}

/* Hint to resize / style the recaptcha Image  */
/*.recaptcha-div #recaptcha_widget_div { width: 250px; overflow:hidden; }
.recaptcha-div #recaptcha_image img  { width: 250px; }*/

/* To remove the privacy conditions */
.recaptcha_only_if_privacy 
{
  float: right;
  text-align: right;
  display: none;
}
.active-cameo{ background-color: #6d6e72; }
.active-cameo a, .active-cameo a:hover{ color:#ffffff; }

.show-comments-container{ height:250px; overflow-y:auto; overflow-x:hidden; }
.width-343{ width:343px; }
.comment-padding{ padding:0px 17px 0px 5px;}
textarea.comment-body{ width:323px;}

/* Borders for testing div occupancies */
.bg-grey{ background-color: #ccc }

/* Custom Margins */
.margin-bottom-3{ margin-bottom:3px; }

/* Custom Paddings */
.padding-bottom-3{ padding-bottom:3px; }

/* Borders for testing div occupancies */
.border-red{ border:1px solid red; }
.border-green{ border:1px solid green; }
.border-black{ border:1px solid black; }

.clear-both{ clear:both; }

.cursor-pointer{ cursor: pointer}

/* Genreralized width classes */
.width-100-percent{ width:100%; }
.width-75-percent{ width:75%; }
.width-50-percent{ width:50%; }
.width-25-percent{ width:25%; }

/* Show / Hide Classes */
.hide{ display:none; }
.show{ display:block; }
