<div class="white-transparent-box accordion" id="accordion2">
  <div class="accordion-group plus-minus-container">
    <div class="accordion-heading">
      
      <div class="accordion-toggle changeable-plus-minus" data-toggle="collapse"
           data-parent="#accordion2" href="#collapseTwo">
        
        <!-- Heading -->
        <%= content_tag :h2, "Edit Contributors", :class=>"pull-left" %>
        
        <!-- Toggle Icon -->
        <i class="sprite-minus-small plus-minus-i pull-right margin-top-10"> </i>
        
        <div class="cl"></div>
        
      </div>
    </div>
    
    <!-- Manage Cameo -->
    <%= render :partial => "web/shows/player/manage_cameos", :locals => {  } %>
    
  

  </div>
</div>