<div class="black-box accordion" id="accordion1">
  <div class="accordion-group plus-minus-container">
    <div class="accordion-heading">
      
      <div class="accordion-toggle changeable-plus-minus" data-toggle="collapse"
           data-parent="#accordion1" href="#collapseOne">
        
        <!-- Heading -->
        <%= content_tag :h2, title, :class=>"pull-left" %>
        
        <!-- Help Icon -->
        <i class="sprite-question-small pull-left margin-top-20 margin-left-20"> </i>
        
        <!-- Toggle Icon -->
        <i class="sprite-minus-small plus-minus-i pull-right margin-top-10"> </i>
        
        <div class="cl"></div>
        
      </div>
    </div>
    
    <!-- Rendering the form fields -->
    <%= render :partial => "web/shows/form/form_fields", :locals => { :f => f } %>
    
  </div>
</div>