<!-- login container start here -->
<div class="login_container">
  <div class="font_weight_bold">
    Hello, <%= current_user.username %>! has invited you to contribute to this video.Click 
    <%= link_to "Add Cameo", new_web_cameo_path %>
    to contribute!
  </div>
</div>

<%= render :partial => "item", :locals => { :show => @show } %>