<div id="footer-bottom">
  <div class="container clearfix">
      <div class="row-fluid">
          <div class="span8" style="padding-top: 76px;">
              <a href="">&copy;2012 rVidi </a> &nbsp; &nbsp; &nbsp; &nbsp; 
              <a href="#">About |</a>
              <a href="#">Contact |</a>
              <a href="#">Help |</a>
              <a href="#">Privacy policy |</a>
              <a href="/home/terms_condition">Terms and Condition  </a>
          </div>
          <div class="span4 pull-right text_align_right footer_image " id="footer-bottom2"> 
              <div  style="margin-top: 154px;">   <a href="#" class="advt">Advertise with us |</a>
                  <a href="#" class="advt">Careers |</a>
                  <a href="#" class="advt">Feedback </a>
              </div>
          </div>
      </div>
  </div> <!-- end .container -->
</div>


