<div class="login_container">
<h1>New parameter</h1>

<%= render 'form' %>

<%= link_to 'Back', documentation_api_resource_parameters_path(@documentation, @api, @resource), :class => "btn small" %>
</div>